<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oracle AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        fetch('/sidebar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('content').innerHTML = data;
            });
    </script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Labs</h3>
    <div id="content"></div>
</div>
<div style="margin-left:25%">

    <div class="w3-container w3-blue">
        <h2>Develop with Oracle AI Services and Oracle Database</h2>
    </div>

    <div class="w3-container">
        <ul>
            <li th:each="image : ${images}">
                <p th:text="${image.imageName}">Image Name</p>
                <img th:src="'data:image/jpeg;base64,' + ${image.imageBase64}" alt="Image"/>
            </li>
        </ul>
    </div>
</div>

</body>
</html>




