websockets==11.0.3; python_version >= "3.7"
websockets==9.1; python_version == "3.6"
aiohttp~=3.10.10
certifi==2024.8.30
cffi==1.17.1
circuitbreaker==2.0.0
cryptography==42.0.8
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
requests~=2.32.3
PyAudio~=0.2.14

oci==2.135.1
oci-ai-speech-realtime==2.0.0
oracledb~=2.4.1

