https://artifactory.oci.oraclecorp.com/ocas-service-platform-dev-pypi-local/oci.ai-speech-realtime/0.2.0/oci.ai_speech_realtime-0.2.0-py2.py3-none-any.whl
https://artifactory.oci.oraclecorp.com/global-dev-pypi/oci-2.129.1+preview.1.1805-py3-none-any.whl
PyAudio>=0.2.14
websockets==11.0.3; python_version >= "3.7"
websockets==9.1; python_version == "3.6"
aiohttp
oracledb
certifi==2024.8.30
cffi==1.17.1
circuitbreaker==2.0.0
cryptography==42.0.8
oci==2.135.1
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0